@font-face {
    font-family: "Grand Bold";
    src: url(/fonts/GrandBold.woff2);
}

@font-face {
    font-family: "PP Neue Montreal";
    src: url(/fonts/PPNeueMontreal-Regular.woff2);
}

@font-face {
    font-family: "PP Neue Montreal Bold";
    src: url(/fonts/PPNeueMontreal-Bold.woff2);
}

@font-face {
    font-family: "PP Neue Montreal Italic";
    src: url(/fonts/PPNeueMontreal-Italic.woff2);
}

@font-face {
    font-family: "PP Neue Montreal SemiBoldItalic";
    src: url(/fonts/PPNeueMontreal-SemiBolditalic.woff2);
}

:root {
    --base-100: #282d35;
    --base-200: #f0ecd9;
    --base-300: #d93535;

    /* Noise Intensity Control */
    --noise-opacity-bg: 0.07;
    /* Adjust background noise (0 to 1) */
    --noise-opacity-img: 0.35;
    /* Adjust photo noise (0 to 1) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Grand Bold";
    background-color: var(--base-100);
    color: var(--base-200);
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.noise-overlay {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: var(--noise-opacity-bg);
    visibility: visible;
    z-index: 1;
    /* Above background but behind content */
    pointer-events: none;
    animation: noise-animation .2s infinite;
}

@keyframes noise-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 800;
    line-height: 0.8;
}

p {
    font-family: "PP Neue Montreal";
    text-transform: none;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
}

section {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    padding: 1rem;
}